<h1>Asignador de Códigos de descarga</h1>
<%= form_tag '/manager/code_create' do -%>
<div class="row">
  <div class="col-md-12">
    <label>Ingresa la cantidad de tokens a generar</label><br/><br/>
  </div>
  <div class="col-md-4">
    <%= number_field_tag 'numbertokens', 1, placeholder: "Ingresa la candidad de tokens a generar", class: "form-control" %>
    <%= hidden_field_tag "cuestionario_id", params[:id] %>
  </div>
  <div class="col-md-5">
    <%= submit_tag "Genear", class: "btn btn-info" %>
    <!--<a class="question-field-find" data-info="tokens" style="font-size:20px; margin-left: 10px; cursor:pointer; " ><i class="fa fa-question-circle" aria-hidden="true"></i></a>-->
  </div>
</div>
<%end%>

<br/><br/>
<div class="row">
  
<div class="col-lg-6">
    <label>Tokens asignados</label>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="col-lg-5">Codigo</th>
          <th class="col-lg-2">Uso</th>
        </tr>
      </thead>
      <tbody>
        <%  @cuestionario.token_de_descargas.each do |token| %>
        <tr>
          <td> <%= token.token %></td>
          <td> <%= "Usado" if token.uso %> <%= "Sin utilizar" if !token.uso %> </td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  <div class="col-lg-6">
   <div class="table-responsive">
    <label>Dispositivos</label>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="col-lg-5">Id Fabrica</th>
          <th class="col-lg-5">Modelo del dispositivo</th>
          <th class="col-lg-5">Plataforma</th>
          <th class="col-lg-5">Serial</th>
          <th class="col-lg-5">Token de descarga</th>
        </tr>
      </thead>
      <tbody>
        <%  @cuestionario.token_de_descargas.each do |token| %>
         <% token.dispositivos.each do |dispositivo| %>
        <tr>
          <td> 
          <%= link_to audios_filter_by_fid_path(id_fabrica: dispositivo.id_fabrica, device: dispositivo.id) do %>
            <%= dispositivo.id_fabrica %> <b><%= dispositivo.manufacturado %></b>
          <%end%>
          </td>
          <td> <%= dispositivo.modelo %> </td>
          <td> <%= "#{dispositivo.plataforma}""- #{dispositivo.version}" %></td>
          <td> <%= dispositivo.serial%></td>
          <td> <%= dispositivo.token_de_descarga.token %></td>
        </tr>
        <%end%>
        <%end%>
      </tbody>
    </table>
    </div>
  </div>
</div>