<div class="row">
  <h1>Nuevo Cuestionario</h1>
  <%= form_for @cuestionario, :url => cuestionario_create_path(@cuestionario), multipart: true do |f|%>
  <div class="form-group panel" style="background: #efefef; padding: 5%;">
    <%= f.text_field :titulo, placeholder: "Título", class: "form-control"%><br/>
    <%= f.text_area :instrucciones, placeholder: "Instrucciones",  class: "form-control"%><br/>
  </div>
  <fieldset id="preguntas">
    <br/>
    <%= f.fields_for :preguntas  do |fd| %>
    <%= render partial: "/manager/pregunta_fields", locals: {f: fd}%>
    <%end%>
    <%= link_to_add_association 'Agregar Pregunta', f, :preguntas, :class => 'btn btn-info' %>
    <%= f.submit 'Publicar el cuestionario', class: "btn btn-success pull-right"%>
  </fieldset >
  <%end%>
  <script type="text/javascript">
  $(document).ready(function(){
  $("#preguntas a.add_fields").
  data("association-insertion-position", 'before').
  data("association-insertion-node", 'this');
  });
  </script>
<br/><br/>
</div>