<div class="row">
  <h1>Nuevo Cuestionario</h1>
  <%= form_for @cuestionario, :url => cuestionario_create_path(@cuestionario), multipart: true do |f|%>
  <div class="form-group panel" style="background: #efefef; padding: 5%;">
    <%= f.text_field :titulo, placeholder: "Título", class: "form-control"%><br/>
    <%= f.text_area :instrucciones, placeholder: "Instrucciones",  class: "form-control"%><br/>
    <%= f.check_box :paginar %> <%= label_tag :paginar %> |
    <%= f.check_box :compartir %> <%= label_tag :compartir %>
  </div>
  <fieldset id="preguntas">
    <br/>
    <%= f.fields_for :preguntas  do |fd| %>
    <%#= render partial: "/manager/pregunta_fields", locals: {f: fd}%>
    <%end%>
  </fieldset >
  <div class="battery-questions">
    <%= link_to_add_association f, :preguntas, :class => 'btn btn-info', partial: '/manager/fields/abierta' do %>
    Abierta
    <%end%>
    <%= link_to_add_association f, :preguntas, :class => 'btn btn-info', partial: '/manager/fields/multiple_simple' do %>
    Multiple
    <%end%>
    <%= link_to_add_association f, :preguntas, :class => 'btn btn-info', partial: '/manager/fields/multiple_simple_rango' do %>
    Rango
    <%end%>
    <%= link_to_add_association f, :preguntas, :class => 'btn btn-info', partial: '/manager/fields/escala' do %>
    Escala
    <%end%>
    <%= link_to_add_association f, :preguntas, :class => 'btn btn-info', partial: '/manager/fields/multiple_campo_abierto' do %>
    Multiple con campo abierto
    <%end%>
    <%= f.submit 'Publicar el cuestionario', class: "btn btn-success pull-right"%>
  </div>
  <%end%>
  <script type="text/javascript">
  $(document).ready(function(){
  $("#preguntas a.add_fields").
  data("association-insertion-position", 'before').
  data("association-insertion-node", 'this');
  });
  </script>
  <br/><br/>
</div>