<h1>Datos de usuario</h1>
<b>Nombre</b>
<%= @wiki_user.nombre %><br/>
<b>Apellidos</b>
<%= @wiki_user.apellidos %> <br/>
<b>Email</b>
<%= @wiki_user.email %><br/>
<b>Teléfono</b>
<%= @wiki_user.telefono %><br/>
<b>Dirección</b>
<%= @wiki_user.direccion %><br/>
<b>Puesto</b>
<%= @wiki_user.puesto %><br/>
<b>Identificación</b>
<%= @wiki_user.identificacion %><br/>
<b>Número de identificación</b>
<%= @wiki_user.numero_identificacion %><br/>
<b>CURP</b>
<%= @wiki_user.curp %><br/>
<b>Compañia con la que trabaja y se registra</b>
<%= @wiki_user.compania_con_registro %><br/>
<b>Código de aprobación</b>
<%= @wiki_user.codigo_de_aprovacion %><br/>
<b>Código de actividad</b>
<%= @wiki_user.codigo_para_actividad %><br/>