<h1>Datos de usuario</h1>
<b>Nombre</b>
<%= @wiki_user.nombre %>
<b>Apellidos</b>
<%= @wiki_user.apellidos %> 
<b>Email</b>
<%= @wiki_user.email %>
<b>Teléfono</b>
<%= @wiki_user.telefono %>
<b>Dirección</b>
<%= @wiki_user.direccion %>
<b>Puesto</b>
<%= @wiki_user.puesto %>
<b>Identificación</b>
<%= @wiki_user.identificacion %>
<b>Número de identificación</b>
<%= @wiki_user.numero_identificacion %>
<b>CURP</b>
<%= @wiki_user.curp %>
<b>Compañia con la que trabaja y se registra</b>
<%= @wiki_user.compania_con_registro %>
<b>Código de aprobación</b>
<%= @wiki_user.codigo_de_aprovacion %>
<b>Código de actividad</b>
<%= @wiki_user.codigo_para_actividad %>