<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4 panel" style="background: #eee; margin-top: 40px;"><h2>Recuperar contraseña</h2>
    <div class="account-wall">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div><br/>
      <div class="actions">
        <%= f.submit "Enviar instrucciones para restaurar", class: "btn btn-success pull-right" , style: "width:100%; font-size:18px; margin-bottom:0px;" %>
      </div>
      </div><br/><br/>
      <% end %>
      <%= render "users/shared/links" %><br/>
    </div>
  </div>
</div>