<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>LABOP | Administrador de encuestas</title>
=======
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Agora | Sistema de creación de formularios</title>
>>>>>>> master
    <%= favicon_link_tag(source: 'favicon.png') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: "/manager/menu" %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
<script type="text/javascript">
$('[data-toggle="tooltip"]').tooltip();
</script>