<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1">
    <title>Agora | Sistema de creación de formularios</title>
    <%= favicon_link_tag('favicon.png') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <div id="video-bg">
    <video playsinline autoplay loop id="myvid" >
      <source src="/agora1.webm" type="video/webm" media="(orientation:landscape)">
      <source src="/agora1.mp4" type="video/mp4" media="(orientation:landscape)">
    </video>
  </div>
  <style type="text/css">
    video {
      background-color: black;
      background-image: /* our video */;
      background-position: center center;
      background-size: contain;
    }
    
    #video-bg {
      position: fixed;
      top: 0; right: 0; bottom: 0; left: 0;
      overflow: hidden;
    }
    #video-bg > video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    /* 1. No object-fit support: */
    @media (min-aspect-ratio: 16/9) {
      #video-bg > video { height: 300%; top: -100%; }
    }
    @media (max-aspect-ratio: 16/9) {
      #video-bg > video { width: 300%; left: -100%; }
    }
    /* 2. If supporting object-fit, overriding (1): */
    @supports (object-fit: cover) {
      #video-bg > video {
        top: 0; left: 0;
        width: 100%; height: 100%;
        object-fit: cover;
      }
    }
  </style>
  <body>
    <%= render partial: "/manager/menu" %>
    <% if current_user %>
    <div class="container">
      <%= yield %>
    </div>
    <%else%>
    
    
    <div class="super-image" style="background: url('/images_sim/agora2_baja.jpg'); width: 100%; margin-top:-20px; background-size: 100% 100%; background-repeat: no-repeat;" id="super-image" >
      <%= yield %>
    </div>
    <%end%>
  </body>
  <% if !current_user %>
  <footer class="navbar navbar-inverse navbar-static-top" style="margin-bottom:0px; background:#000; border:solid #000;">
    <div class="container">
      <p class="text-muted">
        <div class="col-md-4">
          <center> <%=link_to image_tag('logo-rockstars.png', width: '60%'), 'http://rockstars.mx', target: '_blank' %>
          <p>Para aclaraciones, dudas y respuestas a <a href="mailto:contacto@rockstars.mx">contacto@rockstars.mx</a></p>
          </center>
        </div>
        <div class="col-md-4">
          <center>
          <p>Rockstars.MX © Todos los derechos reservados 2016 | Power by <a href="http://rockstars.mx">Rockstars</a> | <br/> <a> Terminos y condiciones del servicio</a></p>
          </center>
        </div>
        <div class="col-md-4">
          <div class="pull-right">
            <%= link_to acceso_a_la_wiki_path do %>
            <p> Ingresar a la <i class="fa fa-wikipedia-w" aria-hidden="true"></i>iki de Agora</p>
            <%end%>
            <%= link_to acceso_a_la_wiki_path do %>
            <p> Acerca de Agora</p>
            <%end%>
            <%= link_to 'http://rockstars.mx' do %>
            <p> Agora es un producto de Rockstars.MX</p>
            <%end%>
            
          </div>
        </div>
      </p>
    </div>
  </footer>
  <%end%>
</html>
<script type="text/javascript">
$('[data-toggle="tooltip"]').tooltip();
$('.super-image').height($(document).height());
</script>
<script type="text/javascript">
setTimeout(function(){
  $('#myvid').remove();
},30000);
setTimeout(function(){
SliderMYIMG('super-image', '/images_sim/agora3.jpg', 'bounceOut');
},70000);
</script>