<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1">
    <title>Agora | Sistema de creación de formularios</title>
    <%= favicon_link_tag('favicon.png') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: "/manager/menu" %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  <footer class="navbar navbar-inverse navbar-static-top" style="margin-bottom:0px; background:#F7F8E0; border:solid #F7F8E0;">
    <div class="container">
    <p class="text-muted">
    <div class="pull-right">
    <%= link_to acceso_a_la_wiki_path do %>
      Ingresar a la Wiki de Agora
    <%end%>
    </div>
    </p>
    </div>
  </footer>
</html>
<script type="text/javascript">
$('[data-toggle="tooltip"]').tooltip();
$('.super-image').height($(document).height());
</script>